<h3>{{#link-to 'event' event.id}}{{event.name}}{{/link-to}}</h3>
<h4>{{event.date}}</h4>
<h4>{{event.address}}</h4>
<p>{{event.description}}</p>
<img src="{{event.image}}" alt="{{event.name}}" class="adminImageDisplay" />

{{edit-event event=event editEvent="editEvent"}}
