
<div>
  <form>
    <div class="form-group">
      <label for="name">Name: </label>
      {{input value=name id="name"}}
    </div>

    <div class="form-group">
      <label for="date">Event Date: </label>
      {{input type="date" value=date id="date"}}
    </div>

    <div class="form-group">
      <label for="address">Address: </label>
      {{input value=address id="address"}}
    </div>

    <div class="form-group">
      <label for="description">Description: </label>
      {{textarea rows="5" columns="50" value=description id="description"}}
    </div>

    <div class="form-group">
      <label for="image">Image URL: </label>
      {{input value=image id="image"}}
    </div>

    <button class="btn btn-primary" {{action 'saveEvent'}}>Save</button>
  </form>
</div>
