<div class="item-header">
  <!-- <h1>{{#link-to 'event' event.id}}{{event.name}}{{/link-to}}</h1> -->
  <h1 class="header-title">{{#link-to 'event' event.id}}{{event.name}}{{/link-to}}</h1>
  <h1 class="hover-view">{{#link-to 'event' event.id}}View Event{{/link-to}}</h1>
</div>
<table>
  <tbody>
    <tr>
      <td class="item-date">{{format-date event}}</td>
      <td class="item-info">
        <p>{{event.description}}</p>
        <p>{{event.author}}</p>
      </td>
    </tr>
  </tbody>
</table>
